# Turso Database Configuration
TURSO_DATABASE_URL=libsql://stl-slicer-mwhite454.aws-us-east-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NTQ1MTc4MjMsImlkIjoiNjI4ZWUwY2EtOTgyOC00YjhiLWFkNjgtNzFlZTE1NmFiNjcxIiwicmlkIjoiZmM1MmVmNjktOTM1ZS00MmU4LTk4NmItNzliZjJlNjViYWRlIn0.dokz-gu7MFTTHJfnXBJytTh0OEZ4U1gdff-TqxDgV6ia7q7OhZB_2gQRci2jkjV9Rhaqra0g5JoJccRyki5DCg