/* Import Mantine styles */
@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
/* JSON viewer styles */
@import 'react18-json-view/src/style.css';
@import 'react18-json-view/src/dark.css';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}



/* Basic reset and body styles */
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #1a1a1a;
}
